{% extends 'base.html' %}
{% load hitcount_tags %}

{% block content %}
  
	  
    
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(/media/bg_1.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">Почувствуй свободу общения!</h1>
            <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url(/media/bg_2.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">Английский – легко и весело!</h1>
            <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="ftco-services ftco-no-pb">
			<div class="container-wrap">
				<div class="row no-gutters">
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-teacher"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Дошкольники</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-reading"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Младшие школьники</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Средние школьники</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-diploma"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Старшие школьники</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
						<div class="img" style="background-image: url(images/about.jpg); border"></div>
					</div>
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
          	<h2 class="mb-4">Информация о нас:</h2>
						<p>	В клубе вас ждут увлекательные 
							занятия в уютной обстановке 
							в группах не более 4-5 человек
							мы изучаем английский язык 
							по  фильмам и сериалам, 
							смотрим, слушаем, разбираем, разговариваем, играем!</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
									<div class="text pl-3">
										<h3>Квалифицированные педагоги</h3>
										<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia.</p> -->
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
									<div class="text pl-3">
										<h3>Познавательные занятия</h3>
										<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia.</p> -->
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
									<div class="text pl-3">
										<h3>Интересное общение</h3>
										<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia.</p> -->
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
									<div class="text pl-3">
										<h3>Уютная обстановка</h3>
										<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia.</p> -->
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
									<div class="text pl-3">
										<h3>Традиционные праздники</h3>
										<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia.</p> -->
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
									<div class="text pl-3">
										<h3>Обучение с увлечением</h3>
										<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia.</p> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(media/about/bg_3.jpg);" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2 d-flex">
					<div class="col-md-6 align-items-stretch d-flex">
						<div class="img img-video d-flex align-items-center" style="background-image: url(/media/about/about-2.jpg);">
							<div class="video justify-content-center">
									<a href="{{ company.promotion_video }}" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
										<span class="ion-ios-play"></span>
								  </a>
								</div>
						</div>
					</div>
			  <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
				{{ company.school_info|safe }}
			  </div>
			</div>	
				<div class="row d-md-flex align-items-center justify-content-center">
					<div class="col-lg-12">
						<div class="row d-md-flex align-items-center">
					  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
						  <div class="text">
							<strong class="number" data-number="{{ number_of_teachers }}">0</strong>
							<span>Учителя</span>
						  </div>
						</div>
					  </div>
					  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
						  <div class="text">
							<strong class="number" data-number="{{ company.number_of_students }}">0</strong>
							<span>Студенты</span>
						  </div>
						</div>
					  </div>
					  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
						  <div class="text">
							<strong class="number" data-number="{{ number_of_courses }}">0</strong>
							<span>Курсы</span>
						  </div>
						</div>
					  </div>
					  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
						  <div class="text">
							<strong class="number" data-number="{{ company.number_of_awards }}">0</strong>
							<span>Выйгранные награды</span>
						  </div>
						</div>
					  </div>
				  </div>
			  </div>
			</div>
			</div>
		</section>


		<section class="ftco-section">
			<div class="container-fluid px-4">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Наши</span> Курсы</h2>
            <p>В клубе вас ждут увлекательные занятия в уютной обстановке в группах не более 4-5 человек!
				Мы изучаем английский язык по  фильмам и сериалам! 
				Смотрим, слушаем, разбираем, разговариваем, играем!
				Проводим традиционные праздники Хэллуин и Рождество!
				Предлагаем курсы для детей любого возраста и уровня!</p>
          </div>
        </div>	
				<div class="row">
					{% for course in courses %}
						<div class="col-md-3 course ftco-animate">
							<div class="img" style="background-image: url({{ course.promote_image.url }});"></div>
							<div class="text pt-4">
								<p class="meta d-flex">
									<span><i class="icon-user mr-2"></i>{{ course.teacher.first_name }} {{ course.teacher.last_name }}</span>
									<span><i class="icon-table mr-2"></i>{{ course.number_of_seats }} seats</span>
									<span><i class="icon-calendar mr-2"></i>{{ course.duration }}</span>
								</p>
								<h3><a href="#">{{ course.name }}</a></h3>
								<p>{{ course.description|safe }}</p>
							</div>
						</div>
					{% endfor %} 
				</div>
			</div>
		</section>

		<section class="ftco-section bg-light">
			<div class="container-fluid px-4">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Наши учителя</h2>
            <p>Наши педагоги обладают отличной квалификацией, имеют богатый опыт работы с детьми и просто творческие, увлекающиеся, неравнодушные личности! Наши педагоги знают, что лучше всего знания даются в игре!!!)</p>
          </div>
        </div>	
				<div class="row">
					{% for user in teachers %}
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="staff">
								<div class="img-wrap d-flex align-items-stretch">
									<div class="img align-self-stretch" style="background-image: url({{ user.userprofile.avatar.url }});"></div>
								</div>
								<div class="text pt-3 text-center">
									<h3>{{ user.first_name }} {{ user.last_name }}</h3>
									<span class="position mb-2">Teacher</span>
									<div class="faded">
										<p>{{ user.userprofile.bio }}</p>
										<ul class="ftco-social text-center">
											<li class="ftco-animate"><a href="{{ user.userprofile.twitter_link }}"><span class="icon-twitter"></span></a></li>
											<li class="ftco-animate"><a href="{{ user.userprofile.fb_link }}"><span class="icon-facebook"></span></a></li>
											<li class="ftco-animate"><a href="{{ user.userprofile.instagram_link  }}"><span class="icon-instagram"></span></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					{% endfor %} 
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4"><span>Поледние</span> блоги</h2>
				<!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
			</div>
			</div>
				<div class="row">
					{% for post in recent_posts %} 
						<div class="col-md-6 col-lg-4 ftco-animate">
							<div class="blog-entry">
							<a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url({{ post.title_image.url }});">
								<div class="meta-date text-center p-2">
								<span class="day">{{ post.created_on|date:'d' }}</span>
								<span class="mos">{{ post.created_on|date:'M' }}</span>
								<span class="yr">{{ post.created_on|date:'Y' }}</span>
								</div>
							</a>
							<div class="text bg-white p-4">
								<h3 class="heading"><a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></h3>
								<p>{{ post.content_preview }}</p>
								<div class="d-flex align-items-center mt-4">
								<p class="mb-0"><a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
								<p class="ml-auto mb-0">
									<span class="mr-2">{{ post.author.first_name }} {{ post.author.last_name }}</span>
									<span class="icon-eye"></span> {% get_hit_count for post %}
								</p>
								</div>
							</div>
							</div>
						</div>
					{% endfor %} 
				
				</div>
			</div>
		</section>

		<section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Что студенты говорят о нас</h2>
            <!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
				{% for review in reviews %}
					<div class="item">
						<div class="testimony-wrap d-flex">
						<div class="user-img mr-4" style="background-image: url({{ review.reviewer_image.url }})">
						</div>
						<div class="text ml-2">
							<span class="quote d-flex align-items-center justify-content-center">
							<i class="icon-quote-left"></i>
							</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<p class="name">{{ review.reviewer_name }}</p>
							<span class="position">Father</span>
						</div>
						</div>
					</div>
				{% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

	<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="/media/about/image_1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/media/about/image_1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/media/about/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/media/about/image_2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/media/about/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/media/about/image_3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/media/about/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/media/about/image_4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>


{% endblock %}
